* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: auto;
}
.search-field{
  width:100%;
}
.search-button{
  width:41px;
  float:right;
  height: auto;
}
.dashboard{
  width: 100%;
  height: auto;
  margin: 0;
}
input{
  width: 88%;
  height: auto;
  font-size: 2em;
}
.back-button{
  position: fixed;
  width: 60px;
  height: auto;
  bottom: 10%;
  right: 2%;
  background: red;
  font-size: 3em;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 100%;
  font-weight: bold;
  z-index: 1000;
}
.nav{
  background: #bbdefb;
}
.logo{
  width:3em;
  margin:auto;
  height: auto;
}
.title{
  width: auto;
  color:black;
  margin: auto;
  height: auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
}
.mood-item{
  float: left;
  background: #e53935;
  color: white;
  margin: .8em;
  width: 220px;
  box-shadow: 0 1px 2px gray;
  font-size: 2.5em;
  border-radius: 4px;
  height: 1.6em;
  padding: 5px;
  text-align: center;
  transform: translateZ(0);
}
.mood-item:hover{
  z-index: 1;
  transform: scale(1.2,1.2);
  transition: .3s transform;
}
.mood-list{
  position: absolute;
  width: 100%;
  padding-left: 10%;
  height: auto;
  margin:0;
}
#gif-item{
  line-height: 1.5em;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5px;
  column-gap: 3px;
}
#gif-item>img{
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  #gif-item {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #gif-item {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #gif-item {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #gif-item {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}